VITE_SUPABASE_PROJECT_ID="seu_project_id_production"
VITE_SUPABASE_PUBLISHABLE_KEY="sua_chave_publica_production"
VITE_SUPABASE_URL="https://seu_project_id_production.supabase.co"
DATABASE_URL="postgresql://usuario:senha@host:5432/postgres"
